<ng-container *ngIf="data$ | async as data">
  <app-loading *ngIf="data.isLoading"></app-loading>
  <app-back-end-error-msg
    *ngIf="data.error"
    [errors]="data.error"
  ></app-back-end-error-msg>
  <div class="sidebar" *ngIf="data.popularTags">
    <p>Popular Tags</p>
    <div class="tag-list">
      <a
        *ngFor="let tag of data.popularTags"
        (click)="navigateToTag(tag, $event)"
        class="tag-default tag-pill hover"
        >{{ tag }}</a
      >
    </div>
  </div>
</ng-container>
