<ng-container *ngIf="data$ | async as data">
  <div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
      <li class="nav-item" *ngIf="data.currentUser">
        <a routerLink="/feed" class="nav-link" routerLinkActive="active"
          >My feed</a
        >
      </li>
      <li class="nav-item">
        <a routerLink="/global" class="nav-link" routerLinkActive="active"
          >Global feed</a
        >
      </li>
      <li class="nav-item" *ngIf="data.tagSelected">
        <a
          (click)="navigateToTag(data.tagSelected, $event)"
          class="nav-link"
          routerLinkActive="active"
        >
          <i class="ion-pound"></i>
          {{ data.tagSelected }}
        </a>
      </li>
    </ul>
  </div>
</ng-container>
